*{
    /* background-color: black; */
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    
}
.header{
    height: 100vh;
    width: 100%;
    /* margin: 15px; */
    color: #f0f0f0;
    background-color: black;
    /* background-image: url(fdafdsa-removebg-preview.png); */
    background-size: cover;
    background-position: center;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    position: fixed;
    
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    font-weight: bold;
}
nav ul li a:hover{
    color: #f0f0f0;
    transition: 0.5s;
}
.content{
    position: absolute;
    top: 40%;
    left: 8%;
    color: #969696;
    line-height: 50px;
    font-size: xx-large;
    
    
}
.imgbg{
    position: relative;
    left: 65%;
    top: 25%;

}
.about{
    color: #969696;
    background-color: black;
    width: 100%;
    padding: 100px 0px;
    border: 2px solid #969696;
}
.main{
    width: 1200px;
    display: flex;
    margin: 0;
    margin-left: 50px;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    
}
.about-text{
    margin-left: 15px;
    
}
.about-text h2{
    font-size: 45px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h4{
    font-size: 35px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.about-text p{
    color: #f0f0f0;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 18px;
    margin-bottom: 40px;

}
button{
    background-color: black;
    color: white;
    text-decoration: none;
    border: 2px solid ;
    font-weight: bold;
    padding: 15px;
    border-radius: 15px;
    /* margin: auto solid transparent; */

}
button:hover{
    background-color: #969696;
    transition: 1s;
}
.skills{
    color: black;
    background-color: black;
    text-align: center;
    height: 70vh;
    width: 100%;
    display: grid;
    place-items: center;
    position: relative;
    margin: auto;
    border: 2px solid #969696;

}
.container{
    display: flex;
    gap: 60px;
    animation: scroll 20s linear infinite;
    overflow: hidden;
    

}
.skills h1{
    color: #969696;
    
}
.card{
    border-radius: 30px;
    min-height: 200px;
    min-width: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    
    

}
.card:nth-child(odd){
    background: linear-gradient(-229deg,#969696, #f0f0f0, black);

}
.card:nth-child(even){
    background: linear-gradient(-229deg,#969696, #f0f0f0, black);
    
}
@keyframes scroll {
    0% { 
        transform: translateX(0px); }
    100% { 
        transform: translateX(calc(-250px*5)); }
}
.box{
    height: 100vh;
    background-color: black;
    border: 2px solid #969696;
    
}
.box h1{
    color: #969696;
    text-align: center;
    border: 2px solid #969696;
}
       
.testimonials{
    display: flex;
    min-height: 400px;
    align-items: center;
    justify-content: center;
    border: 2px solid #969696;
}

.test{
    height: 450px;
    width: 350px;
    padding: 20px 30px;
    background-color: #f0f0f0;
    margin: 15px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid #969696;;

}
.box h5{
    font-size: 30px;
    margin-bottom: 20px;
}
.box p{
    line-height: 30px;
    margin-bottom: 20px;
    font-size: 20px;

}
.contact{
    color: #969696;
    background-color: black;
    height: 70vh;
    width: 100%;
    border: 2px solid #969696;;

}
.contact-box{
    display: flex;
    color: #f0f0f0;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
    background-color: #969696;;
    color: black;
    font-weight: bold;

}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background-color: black;
    border: 2px #969696 solid ;
}
.contact h1{
    margin-bottom: 10px;
    text-align: center;

}
.contact-left input{
    color: black;
    font-weight: bold;
    font-style: italic;
}
.contact-left .input-group{
    color: white;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.input-row .input-group{
    flex-basis: 45%;
}
.input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc ;
}
textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    color: blue;
}
label{
    margin-bottom: 5px;
    display: block;
    color: #fff;
}

tr td:first-child{
    padding-right: 20px;
    padding-bottom: 5px;

}